.board {
    display: flex;
    justify-content: center;
}

.card-deck {
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
}

.card-deck img {
    position: absolute;
    margin-top: 150px;
}

.card-deck button {
    width: 70px;
    height: 40px;
}