.dice {
    background-color: green;
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 20px;
    justify-content: space-around;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.notShowDot {
    visibility: hidden;
}

.shaking {
    animation-name: wobble;
    animation-duration: 1s;
}

@keyframes wobble {
    from {
        transform: translate3d(0, 0, 0);
    }
    15% {
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
    30% {
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
    45% {
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
    60% {
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
    75% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }
    
    to {
        transform: translate3d(0, 0, 0);
    }
}