.table {
    display: flex;
    padding: 30px;
    margin: 50px;
    border: 2px solid gray;
}

.lottery {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-radius: 50%;
    font-weight: bold;
    margin: 2px;
}
