.Card {
    border: 2px solid green;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: gainsboro;
}

.name {
    color: blue;
    font-weight: bold;
}

.type {
    font-size: 15px;
}

.exp {
    font-size: 15px;
}

.Card:hover .cardImg {
    transform: scale(1.5);
    transition-duration: 0.5s;
}