*, ::before, ::after {
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

header {
    padding: 1em 1.5em;
    color: #fff;
    background-color: #0072b0;
    border-radius: .5em;
}

main {
    display: block;
}

.container {
    display: flex;
}

.main {
    background-color: #fff;
    border-radius: .5em;
    width: 70%;
}

.sidebar {
    padding: 1.5em;
    background-color: #fff;
    border-radius: .5em;
    width: calc(30% - 1.5em);
    margin-left: 1.5em;
}

.button-link {
    display: block;
    padding: 0.5em;
    color: #fff;
    background-color: #0090c9;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.button-link + .button-link {
    margin-top: 1.5em;
}